<div class="jumbotron" style="background:transparent;padding: 2rem 2rem;">
    <h1 style="text-align: center; padding-bottom: 2rem;">We are at the heart of appropriate care</h1>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/Images/LifeCoachLogIn.jpg">
                    <div class="card-block">
                        <!-- <button type="button" class="btn btn-primary btn-lg btn-block"
                            style="margin-bottom: 25px;font-size: 1rem;">Login as a Coach</button>
                        <button type="button" class="btn btn-primary btn-lg btn-block" style="font-size: 1rem;">Join as
                            a Coach</button> -->

                            <a href="/login/coaches" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true"
                        style="margin-bottom: 25px;font-size: 1rem;">Login as a Coach</a>
                        <a href="/signup/coaches" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true"
                        style="margin-bottom: 25px;font-size: 1rem;">Join as
                            a Coach</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/Images/UserLogIn.jpg">
                    <div class="card-block">
                        <!-- <button type="button" class="btn btn-primary btn-lg btn-block"
                            style="margin-bottom: 25px;font-size: 1rem;">Login as a User</button>
                        <button type="button" class="btn btn-primary btn-lg btn-block" style="font-size: 1rem;">Join as
                            a User</button> -->
                        <a href="/login/users" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true"
                        style="margin-bottom: 25px;font-size: 1rem;">Login as a User</a>
                        <a href="/signup/users" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true"
                        style="margin-bottom: 25px;font-size: 1rem;">Join as
                            a User</a>
                    </div>
                </div>
            </div>


        </div>
    </div>